<header>
  <div id="intro" class="bg-image">
    <h1 class="banner text-center vh-50 pt-2">Your Grades</h1>
  </div>
</header>

<div id="table" class="container text-center"> 
<table class="table text-light" <thead class="align-items-center">
  <tr class="align-items-center">
  
   <th class="subject-headers" scope="col" data-field="id" data-sortable="true" data-align="center">Courses</th>
    <th class="subject-headers" scope="col" data-field="subject" data-editable="false">Last Updated</th>
    <th class="subject-headers" scope="col" data-field="name" data-editable="false">Grade</th>
    <th class="subject-headers" scope="col" data-field="name" data-editable="false">Grade is Final</th>
    
  </tr>
  </thead>

  <tbody class="table-group-divider">
    <tr class="align-items-center">
      {{#each Subject}}
      <th class="subject-headers subject" scope="row" data-field="name" data-sortable="true" data-align="center">{{this}}</th>
      <td data-field="math-grade" data-sortable="true" data-align="center">{{this}}</td>
      <td data-field="science-grade" data-sortable="true" data-align="center">{{this}}</td>
      <td data-field="spanish-grade" data-sortable="true" data-align="center">{{this}}</td>
      <td data-field="geography-grade" data-sortable="true" data-align="center">{{this}}</td>
      <td data-field="english-grade" data-sortable="true" data-align="center">{{this}}</td>
    {{/each}}
    </tr>
    
  </tbody>
</table>
</div>



{{!-- <div class="sticky-bottom">
  <a class="navbar-brand footer text-light" href="/">Privacy Policy</a>
</div> --}}